<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div id="universal-react-app"><%-html%></div>
<script src="/js/bundle.js"></script>
<script>
    console.log( 'Hello from server view!' )
</script>
</body>
</html>